<div ng-controller="cartCtrl">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="text-center">Quantity</th>
				<th>Name</th>
				<th>Price</th>
				<th>Subtotal</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in cartData">
				<td class="text-center">{{product.count}}</td>
				<td>{{product.name}}</td>
				<td>{{product.price}}</td>
				<td>{{subTotal(product)}}</td>
				<td><button class="btn btn-danger" confirm-message="Are you sure to delete?" delete-confirm="removeProduct(product)">Remove</button></td>
			</tr>
			<tr><th colspan="3" class="text-right">Total:{{getTotal()}}</th></tr>
		</tbody>
	</table>
</div>