<div class="col-xs-3">
	<div>
		<a class=" btn btn-block btn-default btn-lg" ng-click="selectCategory()">
    		Home
    	</a>
	</div>
	<div ng-repeat="category in products | categoryFilter:'category'">
    	<a class=" btn btn-block btn-default" ng-click="selectCategory(category)" ng-class="getCategoryClass(category)">
    		<strong>{{category}}</strong>
    	</a>
	</div>
</div>
<div class="col-xs-8">
	<div class="well" ng-repeat="product in products | filter:productsFilter | pageSelectFilter: selectedPage:itemsPerPage">
		<!-- When using a function as filter, we don't need to pass the product as the argument, the product will be passed to the filter function automatically -->
		<h3>
        	<strong>{{product.name}}</strong>
        	<span class="pull-right label label-primary">{{product.price | currency}}</span>
    	</h3>
    	<span>{{product.description}}</span>
    	<button class="pull-right btn btn-success" ng-click="addProduct(product)">Add to cart</button>
	</div>
	<div class="pull-right btn-group" ng-repeat="page in products |filter:productsFilter | pageCountFilter: itemsPerPage">
		<span class="btn btn-default" ng-click="selectPage(page)" ng-class="getPageClass(page)">{{page}}</span>
	</div>
</div>